*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.boostSection{
    width: 100%;
    background-image:  url(../../images/bg-boost-desktop.svg);
    background-color: #382E50;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-bottom: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.boostSection_getStartedBtn button{
    background-color: #2BD1CD;
    color: white;
    width: 120px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;
}
.boostSectionTitle h1{
    color: white;
    padding-top: 30px;
}
