*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resultsShortlink{
    width: 100%;
    padding: 20px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultsShortlink button{
    background-color: #2BD1CD;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}
.urlShortLink{
    color: #2BD1CD;
    cursor: pointer;
}