*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchBarSec{
    margin-bottom: 30px;
    background-image:  url(../../images/bg-boost-desktop.svg);
    background-color: #382E50;
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.searchBarSec input{
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.searchBarSec button{
    width: 120px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #2BD1CD;
    color: white;
}

.searchBar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rrr{
    width: 100%;
    background-color: #382E50;
}

.resultsShortlink{
    width: 100%;
    padding: 20px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultsShortlink button{
    background-color: #2BD1CD;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}
.urlShortLink{
    color: #2BD1CD;
    cursor: pointer;
}


.bbb::-webkit-scrollbar {
    overflow: hidden;
  }
  
  .searchBarSec .error {
    border: 1px solid red;
   
  }
  .searchBarSec .error-msg {
    position: absolute;
    left: 2rem;
    bottom: 10px;
    font-size: 13px;
    text-transform: capitalize;
    color: brown;
  }


  
